{% extends "baseadmin.html.twig" %}
{% block body %}
    <table class='table table-stripped'>
        <p class="text-end">
            <a href="{{ path('admin.voyage.ajout') }}" class="btn btn-primary">
                ajouter une nouvelle visite
            </a>
            </p>
        <thead>
            <tr>
                <th>
                    Ville
                </th>
                <th>
                    Pays
                </th>
                <th>
                    Date
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for visite in visites %}
                <tr>
                    <td>
                        <h5 class='text-primary'>
                            {{ visite.ville }}
                        </h5>
                    </td>
                    <td>
                        <h5 class="text-primary">
                            {{ visite.pays }}
                        </h5>
                    <td>
                        {{ visite.datecreationstring }}
                    </td>
                    <td>
                        <a href='{{ path('admin.voyage.edit',{id:visite.id}) }}' class='btn btn-secondary'>Editer</a>
                        <a href='{{ path ('admin.voyage.suppr',{id:visite.id}) }}' class='btn btn-danger'onclick="return confirm('Etres-vous sur de vouloir supprimer{{ visite.ville }}?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}